- title t('.title')

%p.nav
  = link_to t('.new_delivery_company'), new_delivery_company_path, class: 'new'
  = link_to t('.customers'), customers_path, class: 'index'

- if @delivery_companies.limit(1).size > 0
  %table
    %thead
      %tr
        %th= DeliveryCompany.human_attribute_name :name
        %th= DeliveryCompany.human_attribute_name :url
        %th{:colspan => 3}= t 'actions'

    %tbody
      - @delivery_companies.each do |delivery_company|
        %tr{ :class => cycle(:odd, :even) }
          %td= delivery_company.name
          %td= delivery_company.url
          %td.action
            = link_to t('.request'), check_deliveries_path, class: 'new'
          %td.action
            = link_to t('show'), delivery_company, class: 'show'
          %td.action
            = link_to t('edit'), edit_delivery_company_path(delivery_company), class: 'edit'
          %td.action
            = link_to t('destroy'), delivery_company,
                data: {confirm: t('.confirm', default: 'Are you sure?')},
                method: :delete, class: 'destroy'
- else
  .empty
    = t '.empty'
